django
gunicorn
python-dotenv
whitenoise
selenium
python_anticaptcha
pdf2image
undetected_chromedriver
pytesseract
airtable
opencv-python
psutil
frontend
tools
python-Levenshtein
# psycopg2-binary
# mysqlclient
