aiofiles==23.2.1
airtable==0.4.8
anyio==4.0.0
asgiref==3.7.2
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
Django==4.2.5
exceptiongroup==1.1.3
frontend==0.0.3
gunicorn==21.2.0
h11==0.14.0
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Levenshtein==0.21.1
lxml==4.9.3
numpy==1.25.2
opencv-python==4.8.0.76
outcome==1.2.0
packaging==23.1
pdf2image==1.16.3
Pillow==10.0.0
pluggy==1.3.0
psutil==5.9.5
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.4.2
python-anticaptcha==1.0.0
python-dotenv==1.0.0
python-Levenshtein==0.21.1
pytils==0.4.1
pytz==2023.3.post1
rapidfuzz==3.2.0
requests==2.31.0
selenium==4.12.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
starlette==0.31.1
tomli==2.0.1
tools==0.1.9
trio==0.22.2
trio-websocket==0.10.4
typing_extensions==4.7.1
undetected-chromedriver==3.5.3
urllib3==2.0.4
uvicorn==0.23.2
websockets==11.0.3
whitenoise==6.5.0
wsproto==1.2.0
